/* App.css */
*{
  background-image:  url("https://i.pinimg.com/originals/ac/54/a1/ac54a128942c750799c2c1fe144d2467.jpg");;
 
}
.App {
  text-align: center;
  margin-top: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 12px;
  font-size: 16px;
  border: 2px solid #8000b3;
  border-radius: 5px 0 0 5px;
  margin-right: 10px;
  width: 300px;
}

input[type="text"]:focus {
  outline: none;
  border-color: #8000b3;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  background-color: #8000b3;
  color: #fff;
  border: 2px solid #8000b3;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

button:hover {
  background-color: #8000b3;
}

.todo-list {
  width: 300px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 10px;
}

.todo-item:last-child {
  margin-bottom: 0;
}

.todo-item span {
  flex-grow: 1;
  margin-left: 10px;
}

.todo-item button {
  padding: 6px 10px;
  /* background-color: #dc3545; */
  border: 3px solid #8000b3;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.todo-item button:hover {
  background-color: #c82333;
}